version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "9000:9000"
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend